---
import { Image } from 'astro:assets';

import Base from '../layouts/Base.astro';

import windowsLogo from '../images/windows.svg';
import macosLogo from '../images/macos.svg';
import linuxLogo from '../images/linux.svg';

const width = 150;
---

<Base pageTitle="Download">
  <section class="center-content">
    <h2>Download the software</h2>
    
    <p>Here you can download the latest version of wiRedPanda binaries for:</p>

    <div class="download-container">
      <div class="download-item">
        <a href="https://github.com/GIBIS-UNIFESP/wiRedPanda/releases/download/v4.1.12/WiRedPanda-Windows-Qt5-Portable.zip">
          <Image src={windowsLogo} alt="Windows button to download" width={width} />
          <span>Windows</span>
        </a>
      </div>
      <div class="download-item">
        <a href="https://github.com/GIBIS-UNIFESP/wiRedPanda/releases/download/v4.1.12/WiRedPanda-Ubuntu-Qt5.AppImage">
          <Image src={linuxLogo} alt="Linux button to download" width={width} />
          <span>Linux</span>
        </a>
      </div>
      <div class="download-item">
        <a href="https://github.com/GIBIS-UNIFESP/wiRedPanda/releases/download/v4.1.12/WiRedPanda-macOS-Qt5.dmg">
          <Image src={macosLogo} alt="MacOS button to download" width={width} />
          <span>Mac OS</span>
        </a>
      </div>
    </div>
  </section>
</Base>

<style>
.download-container {
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a span {
  padding: 10px;
}
</style>
